[Unit]
Description=Sends basic system health metrics to a metrics aggregator
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/lines-agent --config-directory /etc/lines-agent --output-directory /var/opt/lines-agent
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
