# Scan this file for changes every 30 seconds
refresh_rate: 30 seconds

appenders:
  # An appender named "stdout" that writes to stdout
  stdout:
    kind: console
    encoder:
      pattern: "{d(%Y-%m-%d %H:%M:%S%.3f %Z)(utc)} (({T})) [{l}] {t}:{m}{n}"

  # An appender named "application" that writes to a file with a custom pattern encoder
  application:
    kind: rolling_file
    path: "output/log/application.log"
    policy: 
      kind: compound
      trigger:
        kind: size
        limit: 50mb
      roller:
        kind: fixed_window
        base: 1
        count: 20
        pattern: "output/log/application.{}.log.gz"
    encoder:
      pattern: "{d(%Y-%m-%d %H:%M:%S%.3f %Z)(utc)} (({T})) [{l}] {t}:{m}{n}"

# Set the default logging level to "info" and attach both appenders to the root
root:
  level: info
  appenders:
    - stdout
    - application

# loggers: ()
  # Route log events sent to the "app::requests" logger to the "requests" appender,
  # and *not* the normal appenders installed at the root
  # app::requests:
  #   level: info
  #   appenders:
  #     - requests
  #   additive: false